* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(50.53% 50.53% at 50.23% 49.47%, #414d59 0%, #1d2631 100%);
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #ededed;
}

#top-bar {
  width: 100%;
  height: 75px;
}

#header {
  display: flex;
  position: fixed;
  min-height: 75px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 60vw;
}

#header-img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  filter: invert(95%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

nav > ul {
  display: flex;
  width: 30vw;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-theme);
}

.hidden {
  display: none;
}

@media (max-width: 1000px) {
  #logo {
    width: 55vw;
  }
}

@media (max-width: 768px) {
  #header {
    justify-content: flex-end;
  }

  .nav-link {
    display: none;
  }

  .hidden {
    display: flex;
    justify-content: flex-end;
  }
}
