/* ---------------------------------- Variables ---------------------------------- */
:root {
  --text-color: #ededed;
  --hover-color: #D4AF37;
}

/* ----------------------------------- Styling ----------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #444444 0%, #111111 100%);
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: var(--text-color);
  min-height: 100vh;
  max-width: 2560px;
}

section {
  width: 100vw;
}

section:not(#top-bar) {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.hover-grow {
  transform: scale(1);
  transition: 0.4s;
}

.hover-grow:hover {
  transform: scale(1.1);
}

.highlight {
  border-bottom: 2px solid var(--text-color);
  border-radius: 4px;
}

.hidden {
  display: none;
}

.float {
  animation: float 2.5s ease-in-out infinite;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.title-container h2 {
  font-size: 6rem;
  margin-top: 60px;
  margin-bottom: 10px;
}


/* ------------- Top Bar Section ------------- */
#top-bar {
  height: 5vh;
}

#top-bar * {
  z-index: 9999;
}

#header {
  display: flex;
  position: fixed;
  background-color: rgba(17, 17, 17, 0.8);
  min-height: 6vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
}

#header-img {
  width: 50px;
  max-width: 300px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  filter: invert(100%);
}

#nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.nav-link {
  font-size: 1.4rem;
  margin: 0 30px 0 30px;
  transition: 0.4s;
}

.nav-link:hover {
  transform: translateY(-3px);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  padding-right: 3vw;
  transform: scale(1.5);
}

.icon a i {
  color: var(--text-color);
  transition: 0.2s;
}

.icon a i:hover {
  transform: translateY(-3px);
}

#shopping-cart {
  padding-bottom: 3px;
}

/* ------------- Product Section ------------- */
#product {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

#product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  display: flex;
  padding-right: 10vw;
  transform: scale(1.5);
}

#product-content {
  width: 25%;
  transform: translateY(-3vh);
}

#product-title {
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.2;
}

#slogan {
  padding-top: 5px;
  font-weight: 100;
  font-size: 1.2rem;
}

#price {
  font-size: 4rem;
  padding-top: 60px;
  padding-bottom: 40px;
}

#add-to-cart {
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 60px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  color: var(--text-color);
  background-color: transparent;
  transition: 0.3s;
}

#add-to-cart:hover {
  background-color: var(--hover-color);
  border-color: #111111;
  color: black;
}

#color-img-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

.color-img {
  transform: scale(1);
  margin-right: 40px;
}

/* ------------ Features Section ------------- */

#features-start {
  height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info h3 {
  font-size: 3.8rem;
  padding-bottom: 20px;
}

.info p:not(#surround-sound-description) {
  font-size: 1.5rem;
  word-spacing: 3px;
  width: 30%;
}

#surround-sound-img {
  width: 65%;
  margin-top: -75px;
}

#surround-sound-header {
  padding-top: 85px;
}

#surround-sound-description {
  font-size: 1.5rem;
  word-spacing: 3px;
  width: 30%;
}

.feature-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#beats-lebron-img {
  width: 70%;
}

#wireless-header, #wireless-description {
  position: absolute;
  z-index: 1;
}

#wireless-header {
  margin: -3.5% 0 0 -37%;
}

#wireless-description {
  width: 30%;
  margin: 7% 0 0 -37%;
}

#beats-battery-img {
  width: 80%;
  height: 80%;
  transform: scaleX(-1);
}

#battery-life-header, #battery-life-description {
  position: absolute;
  z-index: 1;
  color: #222222;
}

#battery-life-header {
  margin: -10% 0 0 45%;
}

#battery-life-description {
  width: 30%;
  margin: 3% 0 0 45%;
}

#beats-comfort-img {
  width: 70%;
}

#comfort-header, #comfort-description {
  position: absolute;
}

#comfort-header {
  margin: -2% 0 0 -38.5%;
}

#comfort-description {
  width: 25%;
  margin: 7% 0 0 -38.5%;
}

#video {
  width: 70vw;
  border: 1px solid var(--text-color);
}

/* -------- How It Works Section ------- */
.background-color-white {
  background: var(--text-color);
  color: #111111;
}

#how-it-works {
  height: 100vh;
  margin-top: 75px;
  padding-top: 80px;
}

#how-it-works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 40px;
}

.how-it-works-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-content h3 {
  font-size: 5rem;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-top: -15px;
}

.how-it-works-content p {
  font-size: 1.4rem;
  width: 75%;
  padding-top: 10px;
}

#controls-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls-img {
  width: 70%;
  transform: translateY(10%);
}

#controls-description {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  color: var(--text-color);
  width: 30%;
  transform: translate(-55%, 58%);
}

/* -------- Tech Specs Section --------  */
#tech-specs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#tech-specs-container {
  padding-top: 100px;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px;
}

.align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align h3 {
  font-size: 2.5rem;
  border-bottom: 4px solid var(--text-color);
  border-radius: 10px;
}

.tech-specs-ul:nth-child(-n + 3) {
  margin-bottom: 70px;
}

.tech-specs-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 30px 10px;
}

.tech-specs-ul li {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  padding: 20px 0 30px 0;
}

.tech-specs-ul h4 {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.tech-specs-ul p {
  width: 60%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* --------- Form --------- */
#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 25vh;
  background-color: var(--text-color);
}

#form-title {
  color: #111111;
  font-size: 2rem;
}

#form-title-container {
  display: flex;
  justify-content: center;
  padding-left: 45px;
  margin-bottom: 20px;
  padding: 0;
  margin-top: 30px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.6vw;
  margin: 0 auto;
  padding-bottom: 2%;
}

#email {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  text-align: center;
}

#submit {
  width: 80%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.25rem;
}

#submit:hover {
  background-color: #45a049;
}

/* ----- Copyright ----- */
.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #666;
  line-height: 1.4;
}

.copyright p {
  margin-bottom: 10px;
}

/* ------------------------------------ Media ------------------------------------ */
@media (min-width: 1921px) {
  #header-img {
    width: 60px;
  }

  #logo h1 {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .icon {
    transform: scale(1.8);
  }

  .product-img {
    transform: scale(1.7);
  }

  #product-title {
    font-size: 7rem;
  }

  #slogan {
    font-size: 1.4rem;
  }

  #add-to-cart {
    font-size: 1.4rem;
  }

  #features-start {
    padding-top: 120px;
  }

  .info h3 {
    font-size: 5rem;
  }
  
  .info p:not(#surround-sound-description) {
    font-size: 1.8rem;
  }

  .how-it-works-content h3 {
    font-size: 6rem;
  }
  
  .how-it-works-content p {
    font-size: 1.7rem;
  }

  #controls-description {
    font-size: 2.8rem;
  }

  .align h3 {
    font-size: 3.2rem;
  }
  
  .tech-specs-ul li {
    font-size: 2rem;
  }
  
  .tech-specs-ul p {
    font-size: 1.6rem;
  }

  #form-title {
    font-size: 2.6rem;
  }

  #email {
    font-size: 1.7rem;
  }
  
  #submit {
    font-size: 1.6rem;
  }

  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 1800px) {
  #surround-sound-description {
    width: 35%;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.94);
  }
}

@media (max-width: 1700px) {
  .info h3 {
    font-size: 3.5rem;
  }

  .info p:not(#surround-sound-description) {
    font-size: 1.4rem;
  }

  #tech-specs-container {
    padding-top: 150px;
  }

  .how-it-works-content h3 {
    font-size: 4.5rem;
  }
  
  .how-it-works-content p {
    font-size: 1.35rem;
    width: 80%;
  }
}

@media (max-width: 1600px) {
  .product-img {
    transform: scale(1.35);
  }

  #product-content {
    margin-right: 5vw;
    transform: scale(0.95);
  }

  #surround-sound-description {
    width: 40%;
  }

  #comfort-description {
    width: 30%;
  }

  .how-it-works-content h3 {
    font-size: 4.3rem;
  }
  
  .how-it-works-content p {
    font-size: 1.35rem;
    width: 85%;
  }

  #controls-description {
    font-size: 1.9rem;
  }
}

@media (max-width: 1550px) {
  .info h3 {
    font-size: 3.3rem;
  }

  .info p:not(#surround-sound-description) {
    font-size: 1.3rem;
  }

  .align h3 {
    font-size: 2.3rem;
  }

  .tech-specs-ul li {
    font-size: 1.4rem;
  }

  .tech-specs-ul p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1500px) {
  #product-content {
    margin-right: 8vw;
    transform: scale(0.9);
  }

  .info h3 {
    font-size: 3.2rem;
  }

  .info p:not(#surround-sound-description) {
    font-size: 1.2rem;
  }

  #surround-sound-description {
    width: 45%;
  }

  #controls-img {
    width: 80%;
  }

  .tech-specs-ul h4 {
    font-size: 1.3rem;
  }

  .how-it-works-content h3 {
    font-size: 4.3rem;
  }
  
  .how-it-works-content p {
    font-size: 1.35rem;
    width: 90%;
  }

  #controls-description {
    font-size: 2rem;
    width: 35%;
  }
}

@media (max-width: 1430px) {
  .product-img {
    transform: scale(1.3);
  }

  #product-content {
    transform: scale(0.85);
  }
}

@media (max-width: 1400px) {
  #wireless-description {
    width: 34%;
  }

  .how-it-works-content h3 {
    font-size: 4rem;
  }
  
  .how-it-works-content p {
    width: 85%;
  }

  .info p:not(#surround-sound-description) {
    width: 35%;
  }

  .how-it-works-content h3 {
    font-size: 4.1rem;
  }
  
  .how-it-works-content p {
    font-size: 1.3rem;
  }

  #controls-description {
    width: 40%;
    font-size: 1.8rem;
    transform: translate(-50%, 58%);
  }

  #email {
    font-size: 1.1rem;
  }
}

@media (max-width: 1360px) {
  #product-content {
    margin-right: 13vw;
  }
}

@media (max-width: 1300px) {
  .product-img {
    transform: scale(1.25);
  }

  #product-content {
    margin-right: 12vw;
    transform: scale(0.8);
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.88);
  }

  .how-it-works-content h3 {
    font-size: 4rem;
  }
  
  .how-it-works-content p {
    font-size: 1.3rem;
  }

  #controls-description {
    font-size: 1.7rem;
  }
}

@media (max-width: 1200px) {
  .nav-link {
    font-size: 1.3rem;
    margin: 0 20px 0 20px;
  }

  .product-img {
    transform: scale(1.15);
    padding-right: 2vw;
  }

  #product-content {
    margin-right: 12vw;
    transform: scale(0.75);
  }

  #surround-sound-description {
    width: 50%;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.82);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .nav-link {
    margin: 0 15px 0 15px;
  }

  .product-img {
    transform: scale(1.1);
    padding-right: 1.5vw;
  }

  #product-content {
    margin-right: 14vw;
    transform: scale(0.7);
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.77);
  }

  #wireless-description, #battery-life-description {
    width: 40%;
  }

  .how-it-works-content h3 {
    font-size: 3.8rem;
  }
  
  .how-it-works-content p {
    font-size: 1.2rem;
  }

  #controls-description {
    font-size: 1.55rem;
  }
}

@media (max-width: 1052px) {
  .product-img {
    transform: scale(1.05);
    padding-right: 1.5vw;
  }

  #product-content {
    margin-right: 10vw;
    transform: scale(0.65);
    width: 33%;
  }
}

@media (max-width: 1000px) {
  #product {
    height: 100vh;
  }

  #product-wrapper {
    flex-direction: column;
  }

  .product-img {
    transform: scale(0.9) translateY(12vh);
    padding: 0;
  }

  #product-content {
    margin: 0;
    width: 100%;
    text-align: center;
    transform: scale(0.7) translateY(-6vh);
  }

  #color-img-container {
    display: flex;
    justify-content: space-evenly;
  }

  #color-img-container * {
    margin: 0;
  }

  #nav-list .nav-link {
    display: none;
  }

  .icon {
    padding-right: 4vw;
  }

  #surround-sound-description {
    width: 60%;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.7);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 45%;
  }

  .how-it-works-content h3 {
    font-size: 3.7rem;
  }
  
  .how-it-works-content p {
    font-size: 1.15rem;
  }

  #controls-description {
    font-size: 1.45rem;
  }
}

@media (max-width: 900px) {
  #surround-sound-description {
    margin-bottom: 40px;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.63);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 50%;
  }

  .how-it-works-content h3 {
    font-size: 3.6rem;
  }
  
  .how-it-works-content p {
    font-size: 1.1rem;
  }

  #controls-description {
    font-size: 1.3rem;
  }
}

@media (max-width: 800px) {
  #surround-sound-description {
    width: 70%;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.55);
  }

  #wireless-description, #comfort-description {
    width: 55%;
  }

  #battery-life-description {
    width: 58%;
  }

  #battery-life-header {
    width: 60%;
  }

  .how-it-works-content h3 {
    font-size: 3.5rem;
  }
  
  .how-it-works-content p {
    font-size: 1rem;
  }

  #controls-description {
    font-size: 1.15rem;
  }
}

@media (max-width: 700px) {
  #surround-sound-description {
    width: 80%;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.47);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 65%;
  }

  #battery-life-header {
    width: 75%;
  }

  .how-it-works-content h3 {
    font-size: 3.3rem;
  }
  
  .how-it-works-content p {
    font-size: 0.9rem;
  }

  #controls-description {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #surround-sound-header {
    width: 80%;
  }

  #surround-sound-description {
    width: 90%;
    padding-bottom: 40px;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.4);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 75%;
  }

  #battery-life-header {
    width: 85%;
  }

  .how-it-works-content h3 {
    font-size: 2.5rem;
  }
  
  .how-it-works-content p {
    font-size: 0.7rem;
  }

  #controls-description {
    font-size: 0.75rem;
  }
}

@media (max-width: 625px) {
  #product-wrapper {
    margin-top: 0;
  }

  .product-img {
    transform: scale(0.8) translateY(12vh);
  }

  #product-content {
    transform: scale(0.6) translateY(-11vh);
  }

  .icon {
    padding-right: 4.5vw;
  }
}

@media (max-width: 500px) {
  #header-img {
    width: 40px;
    margin-left: 0;
  }

  #logo h1 {
    font-size: 1.5rem;
  }

  .icon {
    padding-right: 5.5vw;
  }

  .product-img {
    transform: scale(0.7) translateY(12vh);
  }

  #product-content {
    transform: scale(0.5) translateY(-25vh);
  }

  #surround-sound-header {
    font-size: 2.9rem;
  }

  #surround-sound-description {
    font-size: 1.4rem;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.33);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 90%;
  }

  #battery-life-header {
    width: 95%;
  }

  .how-it-works-content h3 {
    font-size: 2rem;
  }
  
  .how-it-works-content p {
    font-size: 0.6rem;
  }

  #controls-description {
    font-size: 0.6rem;
  }
}

@media (max-width: 425px) {
  .icon {
    padding-right: 6vw;
  }
}

@media (max-width: 400px) {
  #surround-sound-header {
    font-size: 2.3rem;
  }

  #surround-sound-description {
    font-size: 1.1rem;
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.26);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 110%;
  }

  #battery-life-header {
    width: 120%;
  }

  .how-it-works-content h3 {
    font-size: 1.8rem;
  }
  
  .how-it-works-content p {
    font-size: 0.5rem;
  }

  #controls-description {
    font-size: 0.5rem;
  }
}

@media (max-width: 375px) {
  #surround-sound-header {
    font-size: 1.9rem;
  }

  #surround-sound-description {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  #header-img {
    width: 35px;
    margin-left: 0;
  }

  #logo h1 {
    font-size: 1.4rem;
  }

  .icon {
    padding-right: 7vw;
  }

  .product-img {
    transform: scale(0.65) translateY(2vh);
  }

  #product-content {
    transform: scale(0.45) translateY(-30vh);
  }

  #wireless-header, #wireless-description,
  #battery-life-header, #battery-life-description,
  #comfort-header, #comfort-description 
  {
    transform: scale(0.22);
  }

  #wireless-description, #battery-life-description, #comfort-description {
    width: 130%;
  }

  #battery-life-header {
    width: 135%;
  }
}

@media (max-width: 325px) {
  .icon-wrapper {
    transform: translateX(-10vw);
  }

  #battery-life-header {
    width: 150%;
  }

  .how-it-works-content h3 {
    font-size: 1.5rem;
  }
  
  .how-it-works-content p {
    font-size: 0.4rem;
  }

  #controls-description {
    font-size: 0.4rem;
  }
}

/* --------------------------------- Animations --------------------------------- */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}